{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<<<<<<< Updated upstream

    <div class="character_container">
        {% for character in characters %}
            <div class="character_card">
                <img class="character_card--image" src="{{ character.thumbnail.path  ~ '.' ~ character.thumbnail.extension }}">
                <h1 class="character_card--name">{{ character.name }}</h1>
                <p class="character_card--description">The last surviving member of a tree-like alien race, Groot is perhaps one of the most unusual beings in all the cosmos.</p>
            </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(characters) }}

=======
    <div class="section_home">
        <div id="wrapper">
            <div id="carousel">
                <div id="content">
                    {% for character in characters %}
                        <div class="character_card item">
                            <img class="character_card--image" src="{{ character.thumbnail.path  ~ '.' ~ character.thumbnail.extension }}">
                            <div class="character_card--info">
                                <h3 class="character_card--name">{{ character.name }}</h3>
                                <p class="character_card--description">The last surviving member of a tree-like alien race, Groot is perhaps one of the most unusual beings in all the cosmos.</p>
                                <button class="character_card--button"><a href="{{ path('character_show', {'id': character.id}) }}">Voir</a></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button id="prev">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
                </svg>
            </button>
            <button id="next">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                </svg>
            </button>
        </div>

        <div class="search_container">
            <input class="search_input" placeholder="Rechercher" type="text" name="" id="">
            <input class="search_submit" type="submit" value="Rechercher">
        </div>
    </div>

    <script src={{ asset('js/index.js') }}></script>
>>>>>>> Stashed changes

{% endblock %}
